<% provide(:paket_nama, 'Edit Paket Wisata') %>
<%= render partial: "partials/navadmin" %>

<section class="ftco-section bg-light" style="padding: 3em 0">
        <div class="container">
            <div class="row">
                <div class="col-md-2 sidebar p-1 pl-md-4 heading-section" style="background-color: #fff" >
                    <h3>Sidebar</h3>
                </div>
                <div class="col-md-1"></div>
                <div class="col-lg-9 p-2 pl-md-5 heading-section" style="background-color: #fff">
                    <h1>Edit Paket</h1>
    
                    <%= render  'form' %>
                </div>                   
            </div>
        </div>
    </section>